.button-holder {
    position: relative;
    display: inline-block;
}

.button-underlay {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    padding: 15px 60px;
    font-size: 20px;
    line-height: 20px;
    background: #6784ca;
    color: white;
    border: none;
    background: url('img/space1.jpg');
    background-attachment: fixed;
    background-size: contain;
    transition: 0.4s;
    z-index: 1;
}
.submit-btn{

}